@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> L

<NavMenu />

<div class="container">
    <div class="row">
        <div class="col-md-9">
            @Body
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">@L["About_Title"]</div>
                <div class="panel-body">
                    <p>@L["About_Body"]</p>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <footer>
        <p class="text-muted">@L["Footer_Text", DateTime.Now.Year]</p>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    @L["Error_Unhandled"]
    <a href="" class="reload">@L["Error_Reload"]</a>
    <span class="dismiss">@L["Error_Dismiss"]</span>
</div>
