@inject IStringLocalizer<SharedResource> L
@inject NavigationManager Nav

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">@L["Nav_ToggleNav"]</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ClassicBlog</a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li><NavLink href="" Match="NavLinkMatch.All">@L["Nav_Home"]</NavLink></li>
                <AuthorizeView>
                    <li><NavLink href="manage">@L["Nav_Manage"]</NavLink></li>
                </AuthorizeView>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <AuthorizeView>
                    <Authorized>
                        <li><a href="/account/change-password">@L["Nav_ChangePassword"]</a></li>
                        <AuthorizeView Roles="@Roles.Admin" Context="adminCtx">
                            <li><NavLink href="admin/users">@L["Nav_Users"]</NavLink></li>
                        </AuthorizeView>
                        <li>
                            <form action="/account/logout" method="post" class="navbar-form" data-enhance="false">
                                <AntiforgeryToken />
                                <button type="submit" class="btn btn-default btn-sm">
                                    @L["Nav_Logout"] (@context.User.Identity?.Name)
                                </button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li><a href="/login">@L["Nav_SignIn"]</a></li>
                    </NotAuthorized>
                </AuthorizeView>

                <li>
                    <form action="/culture/set" method="post" class="navbar-form">
                        <AntiforgeryToken />
                        <input type="hidden" name="redirect" value="@CurrentPath" />
                        <div class="btn-group btn-group-xs">
                            <button type="submit" name="culture" value="zh-CN" class="btn btn-default">中文</button>
                            <button type="submit" name="culture" value="en-US" class="btn btn-default">English</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private string CurrentPath => new Uri(Nav.Uri).PathAndQuery;
}
